body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url('../assets/background.jpg'); */
    font-family: 'Orbitron', sans-serif;
}

